
.card{
        display: flex;
        src: local("./placeholder-image.jpeg");
        width: "10%";
        height: "100%";
}

.grid{
        display: flex;
}

.center{
        text-align: center;
        font-weight: bold;
        margin: auto;
        width: "50%";
        padding: 10px;
}